<a href="https://colab.research.google.com/github/SanthoshKasam2104/ScalerAssignments/blob/main/Practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
actual_password = "Hello"
given_password = input("Enter Password")
if given_password == actual_password:
    print("Password is correct")
else:
    print("Password is incorrect")

In [ ]:
ip_num = int(input())
num = 1
while num<=ip_num:
  print(num)
  num += 2

12
1
3
5
7
9
11

In [ ]:
start = int(input())
end = int(input())

while start <= end:
  if start%2 == 0:
    print(start)
  start += 1

2
10
2
4
6
8
10

In [ ]:
start = int(input())
end = int(input())

if start % 2 != 0:
  start += 1

while start <= end:
  print(start)
  start += 2

1
15
2
4
6
8
10
12
14

In [ ]:
start = int(input())
end = int(input())
if start % 2 != 1:
  start += 1

for i in range(start,end+1,2):
  print(i, end = " ")

2
15
3 5 7 9 11 13 15

In [ ]:
N = int(input())

for i in range(-1*N,0):
  print(-1*i)

9
9
8
7
6
5
4
3
2
1

In [ ]:
for i in range(1,10,2):
  print(i, end = ", ")

1, 3, 5, 7, 9,

In [ ]:
cnt = 0
while True:
  cnt +=1
  n = int(input())
  if n == 5:
    break
print(cnt)

8
9
7
3
4
5
6

In [ ]:
for i in range(5):
  for j in range(i+1):
    if j == i:
      print("*")
    else:
      print("*",end = " ")

*
* *
* * *
* * * *
* * * * *

In [ ]:
n = 10
for i in range(1,n+1):
  for j in range(1,n+1):
    print(j*i, end = " ")
  print()

1 2 3 4 5 6 7 8 9 10
2 4 6 8 10 12 14 16 18 20
3 6 9 12 15 18 21 24 27 30
4 8 12 16 20 24 28 32 36 40
5 10 15 20 25 30 35 40 45 50
6 12 18 24 30 36 42 48 54 60
7 14 21 28 35 42 49 56 63 70
8 16 24 32 40 48 56 64 72 80
9 18 27 36 45 54 63 72 81 90
10 20 30 40 50 60 70 80 90 100

In [ ]:
T = int(input())
for i in range(T):
    N = int(input())
    rev = 0
    cnt = 0
    while N//10 != 0:
        cnt += 1
        rev =rev + (10**cnt) *(N%10)
        N %= 10
    rev += N%10
    print(rev)

2
243
33
345t

ValueError: invalid literal for int() with base 10: '345t'

In [ ]:
N = int(input())
rev = 0
cnt = -1
while N//10 != 0:
  cnt += 1
  rev = (10**cnt) *rev + (N%10)
  N //= 10
rev = (10**cnt) *rev + (N%10)
print(rev)

434661
160600400030004

In [ ]:
T = int(input())
for i in range(T):
  N1 = int(input())
  N2 = int(input())
  x = min(N1,N2)
  flag = 0
  Final = 0
  for j in range(x,0,-1):
    if N1%x == 0 and N2%x == 0 and flag == 0:
        Final = j
        flag = 1
  print(Final)

3
15
30
15
24
36
0
3328
9373
0

In [ ]:
36%4

0

In [ ]:
runs = [67, 54, 34, 77, 101, 90, 8, 34, 12, 77, 34, 54, 12]

cnt = 0
s = 0
h = runs[0]
l = runs[0]
for i in runs:
  cnt += 1
  s += i
  if i > h:
    h = i

  if i < l:
    l = i

average = s/cnt

print("len = ", cnt)
print("sum = ", s)
print("avg = ", average)
print("Max = ", h)
print("Min = ", l)

len =  13
sum =  654
avg =  50.30769230769231
Max =  101
Min =  8

In [3]:
l = input()
f = list(map(int,l.split(",")))
print(f)

1, 2, 3, 4, 5
[1, 2, 3, 4, 5]

In [5]:
i = int(input())
f = 1
for a in range(1,i+1):
  f *= a
print(f)

0
1

In [3]:
N = int(input())
A = input().strip()
index = int(input())
num = int(input())

A_split = list(map(int,A.split(" ")))
A_split.insert(index-1,num)

for i in A_split:
    print(i, end = " ")

234
958 645 287 77 836 854 788 109 417 241 77 15 325 529 969 400 977 660 991 347 683 279 903 408 745 605 154 678 619 314 912 928 310 550 357 145 755 144 254 171 736 682 537 60 211 505 811 539 517 801 238 199 431 492 959 528 96 112 205 66 425 468 346 87 370 702 231 124 845 836 647 580 518 535 992 80 392 802 618 908 955 855 458 385 699 416 264 794 879 821 212 304 640 557 390 9 258 972 485 102 808 131 33 325 17 24 404 408 178 373 315 484 580 125 868 278 892 484 423 771 304 634 426 943 190 167 304 799 138 788 252 945 270 285 621 286 660 24 46 189 749 712 672 328 836 892 957 728 375 379 498 30 365 275 972 554 441 627 705 578 414 956 523 35 592 495 673 604 519 718 792 619 429 816 946 265 707 902 344 433 632 193 462 996 467 785 902 907 412 606 484 177 561 358 564 505 853 236 108 723 305 251 341 733 66 638 349 772 891 44 556 522 236 369 518 54 154 771 960 917 376 796 445 288 505 360 792 709 947 251 431 251 502 123
222
567
958 645 287 77 836 854 788 109 417 241 77 15 325 529 969 400 977 660 991 347 683 279 903 408 745 605 154 678 619 314 912 928 310 550 357 145 755 144 254 171 736 682 537 60 211 505 811 539 517 801 238 199 431 492 959 528 96 112 205 66 425 468 346 87 370 702 231 124 845 836 647 580 518 535 992 80 392 802 618 908 955 855 458 385 699 416 264 794 879 821 212 304 640 557 390 9 258 972 485 102 808 131 33 325 17 24 404 408 178 373 315 484 580 125 868 278 892 484 423 771 304 634 426 943 190 167 304 799 138 788 252 945 270 285 621 286 660 24 46 189 749 712 672 328 836 892 957 728 375 379 498 30 365 275 972 554 441 627 705 578 414 956 523 35 592 495 673 604 519 718 792 619 429 816 946 265 707 902 344 433 632 193 462 996 467 785 902 907 412 606 484 177 561 358 564 505 853 236 108 723 305 251 341 733 66 638 349 772 891 44 556 522 236 369 518 54 154 771 960 917 376 567 796 445 288 505 360 792 709 947 251 431 251 502 123

In [1]:
s = input()
ans = {}
for i in s:
  if ans.get(i):
    ans[i] += 1
  else:
    ans[i] = 1
print(ans)

ssttuuuu
{'s': 2, 't': 2, 'u': 4}

In [5]:
print(ans.get("s"))

2

In [10]:
n=4
oplist=[]
while n > 1:
  oplist.append(n%2)
  n //= 2
oplist.append(n)
print(oplist)
actual_length = len(oplist)
added_length = 32-actual_length
append_list = [0]*added_length
print(append_list)
final_32list = append_list+oplist[::-1]
final_num=0
for i in range(32):
    final_num += 2**(31-i)*(1-final_32list[i])
print(final_num)

[0, 0, 1]
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
4294967291