<a href="https://colab.research.google.com/github/SanthoshKasam2104/ScalerAssignments/blob/main/Practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
actual_password = "Hello"
given_password = input("Enter Password")
if given_password == actual_password:
    print("Password is correct")
else:
    print("Password is incorrect")

In [ ]:
ip_num = int(input())
num = 1
while num<=ip_num:
  print(num)
  num += 2

12
1
3
5
7
9
11

In [ ]:
start = int(input())
end = int(input())

while start <= end:
  if start%2 == 0:
    print(start)
  start += 1

2
10
2
4
6
8
10

In [ ]:
start = int(input())
end = int(input())

if start % 2 != 0:
  start += 1

while start <= end:
  print(start)
  start += 2

1
15
2
4
6
8
10
12
14

In [ ]:
start = int(input())
end = int(input())
if start % 2 != 1:
  start += 1

for i in range(start,end+1,2):
  print(i, end = " ")

2
15
3 5 7 9 11 13 15

In [ ]:
N = int(input())

for i in range(-1*N,0):
  print(-1*i)

9
9
8
7
6
5
4
3
2
1

In [2]:
for i in range(1,10,2):
  print(i, end = ", ")

1, 3, 5, 7, 9,

In [3]:
cnt = 0
while True:
  cnt +=1
  n = int(input())
  if n == 5:
    break
print(cnt)

8
9
7
3
4
5
6

In [6]:
for i in range(5):
  for j in range(i+1):
    if j == i:
      print("*")
    else:
      print("*",end = " ")

*
* *
* * *
* * * *
* * * * *

In [9]:
n = 10
for i in range(1,n+1):
  for j in range(1,n+1):
    print(j*i, end = " ")
  print()

1 2 3 4 5 6 7 8 9 10
2 4 6 8 10 12 14 16 18 20
3 6 9 12 15 18 21 24 27 30
4 8 12 16 20 24 28 32 36 40
5 10 15 20 25 30 35 40 45 50
6 12 18 24 30 36 42 48 54 60
7 14 21 28 35 42 49 56 63 70
8 16 24 32 40 48 56 64 72 80
9 18 27 36 45 54 63 72 81 90
10 20 30 40 50 60 70 80 90 100

In [11]:
T = int(input())
for i in range(T):
    N = int(input())
    rev = 0
    cnt = 0
    while N//10 != 0:
        cnt += 1
        rev =rev + (10**cnt) *(N%10)
        N %= 10
    rev += N%10
    print(rev)

2
243
33
345t

ValueError: invalid literal for int() with base 10: '345t'

In [17]:
N = int(input())
rev = 0
cnt = -1
while N//10 != 0:
  cnt += 1
  rev = (10**cnt) *rev + (N%10)
  N //= 10
rev = (10**cnt) *rev + (N%10)
print(rev)

434661
160600400030004

In [18]:
T = int(input())
for i in range(T):
  N1 = int(input())
  N2 = int(input())
  x = min(N1,N2)
  flag = 0
  Final = 0
  for j in range(x,0,-1):
    if N1%x == 0 and N2%x == 0 and flag == 0:
        Final = j
        flag = 1
  print(Final)

3
15
30
15
24
36
0
3328
9373
0

In [20]:
36%4

0